<!DOCTYPE html>
<html style="text-align:center;">

<head>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
<!-- All of the code on this page was adapted from W3 Schools HTML Tutorial. -->
<h1>Home Page</h1>
<div style="font-size:120%;">
	<nav>
		<a href = "/granthall" > Home Page </a>
		<a href = "additem" > Enter Food Data </a>
		<a href = "showitems" > Request Information </a>
		<a href = "Help.html" > Help </a>
	</nav>	
</div>
{% block content %}

{% endblock %}

</body>
</html>
